* {
  padding:0;
  margin:0;
}

img {
  width: 100%;
  height: auto;
}

body {
  width: 80%;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
}
h1, h2 {
  margin-top: 24px;
}
h1 {
  text-align: center;
  line-height: 1;
  margin-bottom: 24px;
}
#home-link {
  color:maroon;
  border: none;
}

a {
  text-decoration: none;
}

p {
  padding-bottom: 8px;
}

main a:link, main a:visited {
  color:#3D569E;
  text-decoration: none;
  font-weight: bold;
  border-bottom: 1px solid;
  padding: 0px 4px;
}
main a:focus, main a:hover {
  color:rebeccapurple;
  background-color:rgb(229, 204, 254)
}
main a:active {
  transition: color .3s;
  color:dodgerblue;
}

a small {
  color:darkslategray;
  display: block;
  font-size: 11px;
  font-weight: normal;
}

figure {
  text-align: center;
  margin-bottom: 24px;
  color:darkslategray;
}
figcaption {
  margin-top: -5px;
}

nav ul {
  list-style-type: none;
}
nav ul li {
  border: 1px solid #ddd;
  margin: 4px;
  border-radius: 4px;
}
nav ul li a:link, nav ul li a:visited {
  color:#3D569E;
  display: block;
  padding: 8px;
}
nav ul li a:focus, nav ul li a:hover {
  color:rebeccapurple;
  background-color:rgb(229, 204, 254)

}

.selected {
  background-color:lightgoldenrodyellow;
  font-weight: bold;
}
.nav-header {
  display:block;
  margin: 20px 0px 8px;
}

code {
  font-family: 'Courier New', Courier, monospace;
  overflow: auto;
  display: block;
  white-space: pre-wrap;
  word-wrap: break-word;
  width: 100%;
  margin: auto;
  background-color:aliceblue;
  padding: 4px 12px;
  margin: 14px 0px;
  border-radius: 8px;
}
pre {
  width: 100%;
  margin: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}

main ul, main ol {
  margin-left: 48px;
}

blockquote {
  border-left: 4px solid rebeccapurple;
  padding: 14px;
  background-color: lightgoldenrodyellow;
  margin-left: 42px;
}
/**************************************
* Layout
**************************************/
#wrap {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0fr 3fr 1fr;
  gap: 22px 82px;
  grid-template-areas:
    "header"
    "content"
    "footer";
}

header {
  grid-area: header;

}

main {
  grid-area: content;
}

footer {
  grid-area: footer;
}

@media screen and (min-width: 960px) {
  #wrap {
    width: 80%;
    margin: auto;
    margin-bottom: 24px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas:
      "header content"
      "footer content";
  }

  footer {
    align-self: end;
  }
}

/******* end layout ************/

/*
* Other general styles
*/
.repo {
  color:darkslategray;
  font-size: .8em;
  font-weight: bold;
  margin: 24px 0px;
}

a.button:link, a.button:visited {
  background-color:greenyellow;
  padding: 18px;
  margin: 24px 0px;
  font-weight: bold;
  color:darkgreen;
  display: inline-block;
  border: 1px solid darkgreen;
  border-radius: 8px;
  box-shadow: 2px 2px 4px #aaa;
}

a.button:visited {
  color: darkgreen;
}

.terms {
  color:darkslategray;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2em; 
  background-color: aliceblue;
  padding: 0px 4px;
  border-radius: 4px;
}

.software {
  margin-left: 24px;
  padding: 14px;
  background-color: aliceblue;
  display:block;
  border-radius: 8px;
  border-left:steelblue 4px solid;
  border-right:steelblue 4px solid;
}

.hidden-text {
  display: none;
}

.list {
  margin-left: 48px;
  margin-bottom: 14px;
}

.photo {
  margin: 24px 0px;
}
.photo figcaption {
  margin-top: 14px;
}
.photo img {
  border-radius: 14px;
  box-shadow: 2px 2px 14px 8px grey;
}